body {
    background-color: #4E3E7A;
}
.nav-pills .nav-link.active {
    background-color: #d9d9d9; /* to change the pill color */
    color: #1e1e1e;
    border-radius: 40px;
}
.nav-pills .nav-item a.nav-link:hover {
    color: #635e97;
}
.nav-link {
    color: #d9d9d9;
}
.container-fluid {
    background-color: #0d0d13;
}

.form-control{
    background-color: #0D0D13;
}

.text-body-secondary {
    --bs-text-opacity: 1;
    color: white !important;
}

.bordered-playlist {
    max-width: 900px !important;
    margin-top: 16px !important;
    border-radius: 10px;
}
.btn{
    background-color: #0D0D13;
    color: #d9d9d9;
    border: none;
}

.btn-light{
    --bs-btn-hover-bg: #d9d9d9;
}