@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

body {
  background-color: #4E3E7A;
  font-family:'ABeeZee', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: italic;
}
.nav-pills .nav-link.active {
    background-color: #d9d9d9; /* to change the pill color */
    color: #1e1e1e;
    border-radius: 40px;
}
.nav-pills .nav-item a.nav-link:hover {
    color: #635e97;
}
.nav-link {
    color: #d9d9d9;
}
.container-fluid {
    background-color: #0d0d13;
}

.form-control{
    background-color: #d9d9d9;
}

.registration-form {
    width: 400px; 
} 

.text-body-secondary {
    --bs-text-opacity: 1;
    color: white !important;
}

.bordered-playlist {
    width: 100%; 
    max-width: 900px; 
    margin-top: 16px !important;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
}
.btn{
    background-color: #0D0D13;
    color: #d9d9d9;
    border: none;
}

.btn-light{
    --bs-btn-hover-bg: #d9d9d9;
}

.login-btn {
    background-color: #d9d9d9;
    color: #4E3E7A;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    width: 400px;
}

.login-btn:hover {
    background-color: #c0c0c0;
}

.signup-link {
    color: #d9d9d9;
    text-decoration: none;    
}

.signup-link:hover {
    color: #c0c0c0;
}

.card-title{
    font-style: normal;
    font-weight: bold;
}

.website-title{
    font-size: 76px;
    color: #d9d9d9;
    text-align: center;
}

button.btn-primary {
	 background-color: #d9d9d9;
	 color: #1e1e1e;
	 border: none;
}
 button.btn-primary:hover {
	 background-color: #c0c0c0;
	 color: #050505;
}
 .nav-pills .nav-link.active:hover {
	 background-color: #c0c0c0;
}
 .shadow {
	 box-shadow: 0 0 10px #4E3E7A;
}
 .row {
	 box-shadow: 0 0 10px #4E3E7A;
}
 .container-fluid {
	 box-shadow: 0 0 10px #4E3E7A;
}
 .card {
	 background-color: #0D0D13;
	 color: white;
     width: 100%; 
}

.card-body {
    flex: 1; 
}
 .card p {
	 font-style: italic;
}
 .card h5 {
	 font-weight: bold;
}
 .card button {
	 border-radius: 20px;
}

.login-container {
    text-align: center;
    width: 400px;
}

.input-line {
    color:#d9d9d9;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    margin: 10px 0;
    padding: 10px;
}

.input-line input {
    color:#d9d9d9;
    background-color: #4E3E7A;
    border: none;
    outline: none;
    font-size: 16px;
}

.input-line input::placeholder {
    color: #d9d9d9;
}

.padding{
    padding: 30px;
}

.anotherpadding{
    padding: 50px;
}

@media (max-width: 768px) { 
    .bordered-playlist {
        max-width: none; 
    }
    .playlist-card{
        margin: auto;
    }
}

@media (max-width: 557px) { 
    .padding{
        padding: 50px;
    }
}

@media (max-width: 362px) { 
    .padding{
        padding: 80px;
    }
}